.accordion {
  margin: 80px;
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  gap: calc(100% / 11);
}

.accordion__header {
}

.accordion__title {
  font: 700 32px/100% Inter, sans-serif;
}

.accordion__intro {
  margin-top: 32px;
}

.accordion__contents {
}

.accordion__item {
  border-bottom: solid 1px #DCDFE4;
}

.accordion__heading {
  display: contents;
}

.accordion__question {
  display: block;
  box-sizing: border-box;  
  width: 100%;
  height: 88px;
  padding: 28px 24px;
  font-weight: 700;
  background: none;
  text-align: left;
  cursor: pointer;
}

.accordion__question::after {
  content: url("/images/chevron-down.svg");
  display: block;
  position: absolute;
  top: 30px;
  right: 24px;
  height: 28px;
  width: 28px; 
}

.accordion__item--expanded .accordion__question::after {
  content: url("/images/chevron-up.svg");
}

.accordion__details {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 800ms;
}

.accordion__answer {
  overflow: hidden;
  padding-inline: 24px;
  transition: padding-block 800ms;
}

.accordion__item--expanded .accordion__details {
  grid-template-rows: 1fr;
}

.accordion__item--expanded .accordion__answer {
  padding-block: 16px 28px;
}

@media (max-width: 720px) {
  .accordion {
    margin: 64px 16px;
    gap: 18px;
  }
}

@media (max-width: 480px) {
  .accordion {
    grid-template-columns: 1fr;    
  }
}
